body{
  background-image: url(./../images/legal-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}
.page-title{
  text-align: center;
}
.page-title h3 {
    font-size: 26px;
    font-weight: 600;
    color: #ffd400;
    position: relative;
    padding-bottom: 17px;
    margin-bottom: 22px;
    margin-top: 18px;
}
.page-title h3:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 62px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
.court-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.court-block {
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    border: 3px solid #ffd42f;
    margin: 15px;
    position: relative;
}
.court-block a {
    display: block;
}
.court-block a:hover img {
    display: block;
    transform: scale(1.1) rotate(3deg);
}
.court-block img {
    width: 100%;
    transition: all ease-in-out 300ms;
}
.court-block .caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #060606ba;
    padding: 10px;
    color: #fffbfb;
    font-weight: 600;
}
.court-block span{

}
.work-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.work-list ul {
    padding: 0px;
    list-style-type: none;
}
.work-list ul li {
    display: inline-block;
}
.work-list ul li a {
    padding: 8px 17px;
    background-color: #121315;
    color: #ffd42f;
    border: 1px solid #ffd42f;
    margin: 2px;
    display: block;
    opacity: .8;
    text-decoration: none;
}
.work-list ul li a:hover{
  opacity: 1
}
.seprator {
    margin: 35px 0px;
    display: block;
    padding: 1px;
    border-bottom: 4px dotted #16171b;
}
.inner-wrapper{
  display: flex;
}
.section-left {
    border-right: 1px solid #ffd42f1c;
    min-height: 100vh;
    margin-right: 20px;
    padding-right: 20px !important;
}
.section-right{
  flex: 1
}
.inner-wrapper section{
  padding: 20px 0px;
}
.work-list .court-block {
    width: calc(33.3% - 30px);
}
.section-left .court-block img {
    max-width: 200px
}
@media (max-width:992px) {
  .work-list .court-block {
      width: calc(50% - 30px);
  }
}
@media (max-width:765px) {
  .section-left .court-block img {
    max-width: 181px;
}
}
@media (max-width:689px) {
  .section-right {
    flex: 1;
    order: -1;
}
  .section-left .court-block img {
    max-width: 181px;
}
.inner-wrapper {
    flex-direction: column;
}
.section-left {
    border-right: 0px;
    min-height: auto;
    margin-right: 0px;
    padding-right: 0px !important;
}
.court-list {

    flex-direction: row;
}
}
@media (max-width:590px) {
  .court-list {
    flex-direction: column;
}
}
@media (max-width:468px) {
  .work-list .court-block {
      width: 100%;
  }
}
